/* .container {
    width: 600px;
    height: 650px;
    border: 10px solid green;
    position: relative;
}

div {
    width: 200px;
    height: 200px;
    margin: auto;
}

.satu {
    background-color: red;
}

.dua {
    background-color: blue;
    position: absolute;
    top: 0;
    left: 0;
}

.tiga {
    background-color: yellow;
} */